.post-item-container{
    display: flex;
    flex-direction: column;
    width: 36rem;
    background: #fff;
    height: 50rem;
    margin: 0rem;
}
.post-item-container:hover .image-container img {
    transform: scale(1.2);
}
.post-item-container:hover .image-container .post-image {
    opacity: 0.2;
}

.post-item-container .post-image{
    width: 36rem;
    height: 21rem;
    position: absolute;
    z-index: 2;
    background: #fe5000;
    transition: all 0.8s ease;
    opacity: 0;
}
.image-container{
    height: 21rem;
    width: 36rem;
    overflow: hidden;
}
.image-container img{
    width: 360px;
    height: 21rem;
    transition: all 0.8s ease;
}

.post-details{  
    display: flex;
    flex-direction: column;
    flex:1;
    background: #fff;
    padding: 0 3% 0 3%;
}

.post-details .category{
    position: relative;
    padding:1rem;
    z-index: 4;
    margin: -4rem auto 0 auto;
    width: 100%;
    max-width: 15rem;
    min-height: 7rem;
    background: #fff;
}

.post-details .category h5{
    letter-spacing: 0.1rem;
    margin: 0;
    font-size: 1.3rem;
    padding-top: 0.4rem;
    color: #fe5000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.post-details a{
    text-decoration: none;
    color: #212721;
}

.post-details h2{
    font-weight: normal;
    margin-top: 0;
    font-size: 2.4rem;
    text-transform: none;
    text-align:center;
    transition: all 0.5s ease;
}

.post-details h2:hover{
    color: #fe5000;
}

.post-details p{
    color: #212721;
    font-size: 1.6rem;
    text-transform: none;
    text-align: center;
}
.post-date{
    justify-self: flex-end;
    align-self: flex-end;
    width: 100%;
    text-transform: none;
    text-align: center;
    margin-bottom: 1.6rem;
}

.post-date p{
    font-size: 1.6rem; 
    color: #D1D1D1;
}